<div class="light flex flex-row h-[60px]">

	<!-- Left Side of the Header -->
	<div class="flex flex-none" style="z-index: 10">

		<!-- Center Part of the Header -->
		<div class="basis-1/4 flex self-center place-content-start">

			<!-- Application Title -->
			<div class="text-white text-3xl clickable nowrap font-light ml-[72px] flex flex-row"
				 style="font-family: 'Lucida Calligraphy'"
				 title="Go to the Home Page" [routerLink]="'/'">
				<span class="p-5">Chris' Angular Playground</span>
        <img class="absolute clickable mt-1" [routerLink]="'/'" src="./assets/images/carousel_logo.png"
             alt="This is the Logo"
             style="width: 56px; height: 56px;"
              class="m-2.5">
			</div>
		</div>
	</div>

	<div class="flex flex-grow" style="position: relative; overflow: hidden">
		<div class="flex flex-grow" [ngStyle]="{'background-image': 'url(' + headerUrlDTO.url + ')', 'min-width': headerUrlDTO.isRightAligned ? headerUrlDTO.pixelWidth.toString() + 'px' : '' }"
			 [ngClass]="{'right-aligned': headerUrlDTO.isRightAligned, 'bg-cover': !headerUrlDTO.isRightAligned}"
			 style="background-repeat: no-repeat;">
		</div>
		<div class="overlay-content"
			 style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: linear-gradient(to left, transparent, #052461);">
		</div>
	</div>

</div>
