<div class="grid grid-cols-2 m-2.5 h-[50px]">
  <!--  top of page-->
  <div>
    Holy Grail (Variable Height)
  </div>
  <div class="flex place-content-end gap-2.5">
    <div>Help Btn</div>
    <div>Info Btn</div>
  </div>

</div>


<div class="flex flex-row gap-5 p-2.5 overflow-y-auto" style="height: calc(100vh - 200px)">

  <div class="flex flex-grow w-1/2 relative overflow-y-auto"> Box 1
    <br>text
    <br>text
    <br>text
    <br>text
    <br>text
    <br>text
<!--    <div class="h-[30px] align-text-bottom">-->
<!--      this is box 1-->
<!--    </div>-->
  </div>

  <div class="w-1/2 relative"> Box 2
    <h2 class="absolute bottom-0 left-0">This is box 2</h2>
  </div>
</div>

<div class="h-[50px]">
  bottom of page
</div>
