<!-- grid-cols-->
<div class="m-[10px]">
<div class="grid grid-cols-2">
  <div>
    <span class="text-2xl font-extrabold">Exercise 1a </span>
  </div>
  <div class="flex place-content-end">
<!--    <button class="bg-blue-700 text-white font-bold py-2 px-4 rounded">-->
    <button mat-raised-button>
      Help
    </button>
<!--    Help Btn-->
  </div>
</div>

<br><br>


<!--gap-x-5 provides a gap of 20 px between (horizontally) each div element nested within this set of divs-->
<!--gap-5 provides a gap of 20 px between (in the horizontal and vertical axes) -->
<div class="grid grid-cols-3 gap-x-5 m-5 h-[150px]" >

<!--  No margin = no 3d effect -->
<!--  Margin is outside the element-->
<!--  padding is inside the element-->
  <div class="mat-elevation-z6 p-2.5">
    box 1
  </div>

  <div class="mat-elevation-z12 p-2.5">
    box 2
  </div>

  <div class="mat-elevation-z24 p-2.5">
    box 3
  </div>
</div>


</div>
