
// CHANGE THE TABS TO HAVE A DARK-GRAY BACKGROUND AND WHITE TEXT

:host ::ng-deep .mat-mdc-tab-header {
  // Indent the Tab Headers
  margin-left: 10px;
  margin-right: 10px;

  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+1,485b6b+50,000000+100 */
  background: linear-gradient(to right,  #000000 1%,#485b6b 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

// ADD 1PX WHITE BORDER TO THE ACTIVE TAB
:host ::ng-deep .mdc-tab--active {
  /* Active tabs have a white border */
  border: 1px solid white;
  box-sizing: border-box;
  border-radius: 20px;
  //background: linear-gradient(to right,  #000000 1%,#485b6b 50%,#000000 100%);
}

// ADD 1PX TRANSPARENT BORDER TO THE NON-ACTIVE TABS
:host ::ng-deep .mdc-tab {
  /* All tabs have a transparent border */
  //border: 1px solid blue;
  box-sizing: border-box;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,4c3293+50,000000+100 */
  //background: linear-gradient(to right,  #000000 0%,#4c3293 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background: linear-gradient(to right,  #4c3293 0%,#000000 50%,#4c3293 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

:host ::ng-deep  .mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  /* Change the text color of the tabs -- there are many states */
  --mat-tab-header-active-focus-label-text-color: white;
  --mat-tab-header-active-label-text-color : white;
  --mat-tab-header-inactive-label-text-color: orange;
  --mat-tab-header-inactive-focus-label-text-color: orange;
  --mat-tab-header-inactive-hover-label-text-color : orange;
  --mdc-tab-indicator-active-indicator-color: white;
  --mat-tab-header-active-hover-label-text-color: white;
  --mat-tab-header-active-ripple-color: white;
  --mat-tab-header-inactive-ripple-color: white;
}

// REMOVE THE BORDER TO THE BOTTOM OF THE ACTIVE TAB

:host ::ng-deep .mdc-tab-indicator__content {
  /* Remove the the bar underneath the ACTIVE tab */
  display: none;
}

// CHANGE THE TABS SO THEY ARE ROUNDED

:host ::ng-deep .mdc-tab {
  /* label style */
  color: white;
  width: 200px !important;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  margin: 5px;

  border-radius: 20px;
}
