<div class="m-2.5">

<!--  Header -->
  <div class="grid grid-cols-2">
    <div class="text-xl text-orange-500">Tab Group Page</div>

    <div class="text-xl text-orange-500 flex place-content-end">
      Help
    </div>
  </div>



<!-- TAB GROUP-->
<mat-tab-group>

<!--  ENRICHMENT TAB-->
  <mat-tab label="Enrichment Tab">
    <app-tab-enrichment></app-tab-enrichment>
  </mat-tab>

  <!-- ORIGINAL SUBMISSION TAB   -->
  <mat-tab label="Original Submission Tab">
    <app-tab-original-submission></app-tab-original-submission>
  </mat-tab>

  <!-- DOCUMENTS TAB   -->
  <mat-tab label="Documents Tab">
      <app-tab-documents></app-tab-documents>
  </mat-tab>

  <!-- History TAB   -->
  <mat-tab label="History">
      <app-tab-history></app-tab-history>
  </mat-tab>



</mat-tab-group>

</div>
