<div class="m-2.5">
  <div class="grid grid-cols-2">
    <div>
      Smooth Vertical Transitions #1
    </div>
    <div class="flex place-content-end">
      Help
    </div>
  </div>

  <!--  First Row   -->
  <div class="flex flex-row mt-2">
    <div class="w-[40px] flex place-content-center">
      <i class="fa-solid fa-arrow-up-from-bracket cursor-pointer"></i>
    </div>
    <div class="w-1/2 overflow-x-auto">
      <ol>
        <li>BRKB Details</li>
        <div #collapsableDiv class="smooth-height-transition">
          <li>Name:</li>
          <li>Last Price:</li>
          <li>Change:</li>
          <li>Volume:</li>
          <li>52 Week Range:</li>
        </div>
      </ol>
    </div>
    <div class="w-1/2 overflow-x-auto">
      <ol>
        <li>$420.52</li>
        <li>Bershire Hathaway Inc</li>
        <li>$420.52</li>
        <li>+6.05</li>
        <li>635,986</li>
        <li>330.58 to 449.25</li>
      </ol>
    </div>
  </div>

  <!--  Second Row    -->
  <div class="flex flex-row mt-2">
    <div class="w-[40px] flex place-content-center">
      <i class="fa-solid fa-arrow-up-from-bracket cursor-pointer"></i>
    </div>
    <div class="w-1/2 overflow-x-auto">
      <ol>
        <li>VOO Details</li>
        <li>Name:</li>
        <li>Last Price:</li>
        <li>Change:</li>
        <li>Volume:</li>
        <li>52 Week Range:</li>
      </ol>
    </div>
    <div class="w-1/2 overflow-x-auto">
      <ol>
        <li>$481.13</li>
        <li>Vanguard S&P 500 ETF:</li>
        <li>$481.13</li>
        <li>+5.61</li>
        <li>1,912,703</li>
        <li>375.95 to 519.40</li>
      </ol>
    </div>
  </div>


</div>
