<div class="m-2.5">
  <div class="grid grid-cols-2">
    <div class="text-orange-500 text-2xl">
      Four Tab Page
    </div>
    <div class="flex place-content-end text-orange-500 text-2xl">
      Help
    </div>

  </div>

  <!-- TAB GROUP-->
  <mat-tab-group>

    <!--  TAB 1-->
    <mat-tab label="Tab 1" id="1">
      <app-tab1-component></app-tab1-component>
    </mat-tab>

    <!--  TAB  2 -->
    <mat-tab label="Tab 2" id="2">
      <app-tab2-component></app-tab2-component>
    </mat-tab>

    <!--  TAB   3-->
    <mat-tab label="Tab 3" id="3">
      <app-tab3-component></app-tab3-component>
    </mat-tab>

    <!--  TAB 4  -->
    <mat-tab label="Tab 4" id="4">
      <app-tab4-component></app-tab4-component>
    </mat-tab>

  </mat-tab-group>

</div>
