<div class="flex items-center place-content-center w-full h-full">
<!--  The whole page-->

<div class="flex flex-col items-center">
  <i class="fa-regular fa-circle-check" style="font-size: 300px; color:rgba(21,189,73,0.76)" ></i>

  <div class="mt-5">
    Registration Approved
  </div>
  <div class="mt-5">
    Your registration was successfully approved
  </div>
  <div class="mt-5">
    <button type="button"
    aria-label="Home Button"
    title="Home Button"
    mat-raised-button>
      Continue to the Home Page
    </button>

  </div>
</div>

</div>


