<!-- Believe items-center is unnecessary    -->
<div class="flex items-center place-content-center">

<!--  Parent Div      -->
  <div class="flex flex-col w-1/2 relative">

    <img src="./assets/images/Exercise_1D_Image.png" class="mt-[50px]">

<!--    Child Div   -->
    <div class="absolute top-0 left-0 w-full h-full flex place-content-center">
      <button type="button"
              aria-label="Login"
              title="Login"
              mat-raised-button>
        Login
      </button>
    </div>

    <div>
      <div class="flex place-content-center">
        If you need help logging in
      </div>
      <div class="flex place-content-center">
        <button type="button"
                aria-label="Help"
                title="Help"
                mat-raised-button>
          Help
        </button>

      </div>


    </div>

  </div>
</div>


<br>

<div>
  Text over image
</div>

