<!-- Believe items-center is unnecessary    -->
<!--  In order to pace content within a div, you MUST have class="flex" in the opening tag    -->
<!-- "class="" has to do with things having to do with html or css"-->
<div class="h-full">
<!--  Parent Div      -->
<!--  Relative is about positioning - with relative in the parent class
     and absolute in the child class.  Relative is relative to the normal position-->
  <div class="flex flex-col w-1/2 relative mt-[50px]">
    <img src="./assets/images/Exercise_1D_Image.png">
<!--    Child Div   -->
<!--    Absolute does CJC   -->
    <div class="absolute top-0 left-0 h-full w-full flex place-content-center items-center">
<!--      title="yada yada" defines what text appears with a mouseover (infotip)    -->
      <button type="button"
              aria-label="Login"
              title="Login"
              mat-raised-button>
        Login
      </button>
    </div>
  </div>
      <div class="flex place-content-center">
        If you need help logging in
      </div>
      <div class="flex place-content-center">
        <button type="button"
                aria-label="Help"
                title="Help"
                mat-raised-button>
          Help
        </button>
      </div>
</div>
<br>
<div>
  Text over image
</div>

