<div class="grid grid-cols-2 m-5">
  <div>
    Variable Height
  </div>

  <div class="flex place-content-end">
    Help button
  </div>
</div>

<div class="h-[100px] m-2 overflow-y-auto">
  <br> Line
  <br> Line
</div>

<!--    Will automatically show the scrollbar IF the contents of the div exceed the defined height    -->
<div class="h-[100px] m-2 overflow-y-auto">
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
  <br> Line
</div>
