<div class="grid grid-cols-2 m-2.5 sticky top-0">
  <div>
    Scroll into view
  </div>
  <div class="flex place-content-end">
    Help Btn
  </div>
</div>

<div class="flex flex-row">
  <!--  Left side "Main Info" section of page   -->
  <div class="flex flex-col place-content-start w-10/12" style="width:calc(100vw - 200px)">
    <div class="h-[200px]" id="section1">
      <span> Section 1 </span>
    </div>
    <div class="h-[200px]" id="section2">
      <span> Section 2 </span>
    </div>
    <div class="h-[200px]" id="section3">
      <span> Section 3 </span>
    </div>
    <div class="h-[200px]" id="section4">
      <span> Section 4 </span>
    </div>
    <div class="h-[200px]" id="section5">
      <span> Section 5 </span>
    </div>
    <div class="h-[200px]" id="section6">
      <span> Section 6 </span>
    </div>
    <div class="h-[200px]" id="section7">
      <span> Section 7 </span>
    </div>
    <div class="h-[200px]" id="section8">
      <span> Section 8 </span>
    </div>
    <div class="h-[200px]" id="section9">
      <span> Section 9 </span>
    </div>

  </div>

  <!--  Right side Nav bar-->
  <div class="w-[200px]">
    <div>
      <a title="Section 1" aria-label="Section1" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section1')">section 1</a>
    </div>
    <div>
      <a title="Section 2" aria-label="Section2" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section2')">section 2</a>
    </div>
    <div>
      <a title="Section 3" aria-label="Section3" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section3')">section 3</a>

    </div>
    <div>
      <a title="Section 4" aria-label="Section4" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section4')">section 4</a>
    </div>
    <div>
      <a title="Section 5" aria-label="Section5" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section5')">section 5</a>
    </div>
    <div>
      <a title="Section 6" aria-label="Section6" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section6')">section 6</a>

    </div>
    <div>
      <a title="Section 7" aria-label="Section7" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section7')">section 7</a>

    </div>
    <div>
      <a title="Section 8" aria-label="Section8" [routerLink]=[] (click)="this.formUtilsService.scrollToTargetId('section8')">section 8</a>

+
      0..
</div>
