<div class="m-2.5">
  <!--   Top menu on page -->
  <div class="grid grid-cols-2">
    <div>Add Contract</div>
    <div class="flex place-content-end">
      Help
    </div>
  </div>

  <!--  Body of the page  -->
  <div class="mt-5">
    <div class="grid grid-cols-3 gap-2.5">
      <div>Contract Name Textbox</div>
      <div>Contract Number Textbox</div>
      <div>
        <mat-form-field>
          <mat-label>Priority:</mat-label>
          <mat-select title="Priority" aria-label="Priority">
            <mat-option value= 1>Low</mat-option>
            <mat-option value = 2>Medium</mat-option>
            <mat-option value = 3>High</mat-option>
            <mat-option value = 4>Critical</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>Classification Dropdown</div>
      <div class="col-span-2">Contract Size Dropdown</div>

      <div>Region Dropdown</div>
      <div class="col-span-2">Sub Region Dropdown</div>

      <div class="col-span-3">Contract Authors Multi Dropdown</div>

      <div class="col-span-3">Description text area</div>

    </div>
  </div>


  <div class="flex place-content-center gap-5 mt-2.5">
    <div>Reset Btn</div>
    <div>Submit Btn</div>
    <div>Save for later hyperlink</div>
  </div>

</div>
