<div class="grid grid-cols-2 m-2.5 h-[50px]">
  <!--  top of page-->
  <div>
    Holy Grail (Variable Height)
  </div>
  <div class="flex place-content-end gap-2.5">
    <div>Help Btn</div>
    <div>Info Btn</div>
  </div>

</div>

<!-- height calculation is a CSS class, so it goes in a stlye tag
vh = vertical height
Start with a number and then adjust until it looks right
If you use the height calculation trick - good practice to add the overflow-y-auto
-->
<!--<div class="flex flex-row gap-5 p-2.5 overflow-y-auto" style="height:calc(100vh - 135px)">-->
<div class="flex flex-row gap-5 p-2.5 overflow-y-auto" style="height:calc(100vh - 200px)">
  <div class="w-1/2"> Box 1</div>
  <div class="w-1/2"> Box 2</div>
</div>

<!-- Can center content horizontally and vertically using EITHER of the approaches below-->
<div class="flex place-content-center items-center w-full h-[50px]">
  Status Line
</div>


<div class="h-[50px] flex place-content-center">
  <div class="self-center">Status Line</div>
</div>
